<!DOCTYPE html>
<html>
    <head>
        <title>jung-personal-button-design</title>
        <!--default-->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="/css/img/1024_Icon_1018.ico"> <!--favicon-->

        <!--meta_tag-->
        <meta name="description" content="testpage입니다.디스크립션은 서치 콘솔에서 description을 보고 검색을 합니다.">
        <meta name="keywords" content="test,page,hanjung,seo,keywords">
        <meta name="author" content="Hanjung">
        
        <!--open_graph meta tag : facebook, kakao 등등..-->
        <meta property="og:title" content="jung-personal-button-design"/>
        <meta property="og:type" content="article"/>
	    <meta property="og:url" content="https://getcha.kr"/>
        <meta property="og:description" content="testpage입니다.디스크립션은 서치 콘솔에서 description을 보고 검색을 합니다."/>
        <meta property="og:image" content="http://placehold.it/350x150"/>  
	    <meta property="og:image:width" content="1200" />
        <meta property="og:image:height" content="627" />
        
        <!--twiter meta tag : twitter-->
        <meta name="twitter:card" content="summary" />
        <meta name="twitter:site" content="@flickr" />
        <meta name="twitter:title" content="Small Island Developing States Photo Submission" />
        <meta name="twitter:description" content="testpage입니다.디스크립션은 서치 콘솔에서 description을 보고 검색을 합니다." />
        <meta name="twitter:image" content="http://placehold.it/350x150" />
        
        <!--script-->
        <!--javascript bootstrap-->
        <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

        <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
        <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
        <!--js_personal-->
        <script src="/js/jhan_javascript.js"></script>
        
        
        <!--css-->
        <!--google_font-->
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Quicksand" />
        
        <!--css_bootstrap-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        
        <!--css_personal-->
        <link rel="stylesheet" href="/css/jhan_base.css">
        <link rel="stylesheet" href="/css/jhan_rarely.css">

    </head>
    <body>
        <div class = 'container first'>
            <div class = 'top_banner'>
                <p>CSS, JS, JQuery, Bootstrap. _button + grid + iframe(bootstrap)</p>
            </div>
            <div class = 'first'>
                <h1>beauty button design</h1>

                <p>default button </p>
                <button class = 'btn btn-default'>Hello world</button>
                
                <br/><br/>
                
                <p>color default button</p>
                <button type="button" class="btn btn-default">Default</button>
                <button type="button" class="btn btn-primary">Primary</button>
                <button type="button" class="btn btn-success">Success</button>
                <button type="button" class="btn btn-info">Info</button>
                <button type="button" class="btn btn-warning">Warning</button>
                <button type="button" class="btn btn-danger">Danger</button>
                <button type="button" class="btn btn-link">Link</button>
                
                <br/><br/>
                
                <p>social button</p>
                <button class='social-button facebook'></button>
                <button class='social-button dropbox'></button>
                <button class='social-button evernote'></button>
                <button class='social-button google'></button>
                <button class='social-button twitter'></button>
                <button class='social-button youtube'></button>
                
                <br/><br/>
                
                <p>anchor tag button like real push</p>
                <a href = '#' class = 'anchor_button blue'>B</a>
                <a href = '#' class = 'anchor_button red'>R</a>

            </div>
          
            <div class = 'another'>
                <h1>grid system</h1>
                <div class="col-md-2 col-xs-12">
                    <button class = 'btn btn-default'>
                        full button
                    </button>
                </div>
                <div class="col-md-2  col-xs-12">
                    <button class = 'btn btn-default'>
                        full button
                    </button>                
                </div>
                <div class="col-md-2  col-xs-12">
                    <button class = 'btn btn-default'>
                        full button
                    </button>                
                </div>
                <div class="col-md-2 col-xs-12">
                    <button class = 'btn btn-default'>
                        full button
                    </button>                
                </div>
                <div class="col-md-2  col-xs-12">
                    <button class = 'btn btn-default'>
                        full button
                    </button>                
                </div>
                <div class="col-md-2  col-xs-12">
                    <button class = 'btn btn-default'>
                        full button
                    </button>               
                </div>
            </div>
            
            <br/><br/>
            
            <div class = 'another'>
                <h1>list옆에 badge 붙이기, progress bar</h1>
                <p>badge</p>
                <ul class="list-group">
                  <li class="list-group-item">
                        <span class="badge">14</span>
                        badge test! 조회수나 실시간으로 몇개의 글이 올라와 있는지 효과적으로 보여줄 수 있다
                  </li>
                  <li class="list-group-item">
                        <span class="badge">235</span>
                        badge test! 조회
                  </li>
                </ul>
                <p>progress bar</p>
                <div class="progress">
                  <div class="progress-bar progress-bar-success" style="width: 35%">
                    <span class="sr-only">35% Complete (success)</span>
                  </div>
                  <div class="progress-bar progress-bar-warning progress-bar-striped" style="width: 20%">
                    <span class="sr-only">20% Complete (warning)</span>
                  </div>
                  <div class="progress-bar progress-bar-danger" style="width: 10%">
                    <span class="sr-only">10% Complete (danger)</span>
                  </div>
                </div>
            </div>
            
            <div class = 'last'>
                <h1>iframe ratio</h1>
                <div class="embed-responsive embed-responsive-4by3">
                  <iframe class="embed-responsive-item" src="https://getcha.kr"></iframe>
                </div>
            </div>
        </div>
    </body>
</html>