<!DOCTYPE html>
<html>
    <head>
        <title>jung-persona-base_input-design</title>
        <!--default-->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="/css/img/1024_Icon_1018.ico"> <!--favicon-->
        <!--javascript bootstrap-->
        <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

        <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
        <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
        <!--js_personal-->
        <script src="/js/jhan_javascript.js"></script>

        
        
        <!--css-->
        <!--google_font-->
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Quicksand" />
        
        <!--css_bootstrap-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        
        <!--jquery-ui-->
        <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

        <!--css_personal-->
        <link rel="stylesheet" href="/css/jhan_base.css">
        <link rel="stylesheet" href="/css/jhan_rarely.css">
     
    </head>
    <body>
        <div class = 'container'>
            <div class = 'top_banner'>
                <p>정리중</p>    
            </div>
           
            <div class = 'first'>
                <h3>포트폴리오</h3>
                 <ul>
                    <li><a href='/view/not_completion.html'>개인정리 및 연락처 onepage</a></li>
                    <li><a href = 'https://slides.com/junghan'>slides - 세미나 정리</a></li>
                    <li><a href = 'https://github.com/hanjungv'>github - 잡다한 소스코드 들</a></li>
                    <li><a href = 'http://gongbang.in/'>공방인</a></li>
                    <li><a href = 'http://myinha.com/'>인하의 편리한 시설-마이인하</a></li>
                </ul>
            </div>
            <div class = 'another'>
                <h3>publishing</h3>
                <ul>
                    <li><a href ='/view/base_button-iframe-grid.html'>버튼, 그리드, iframe</a></li>
                    <li><a href ='/view/base_input.html'>input 디자인</a></li>
                    <li><a href ='/view/base_navbar.html'>navbar 디자인</a></li>
                    <li><a href ='/view/not_completion.html'>그외 추가될 것...</a></li>
                </ul>
            </div>
            <div class = 'another'>
                <h3>frontend</h3>
                <ul>
                    <li><a href ='/view/not_completion.html'>그외 추가될 것...</a></li>
                </ul>
            </div>
            <div class = 'another'>
                <h3>backend</h3>
                <ul>
                    <li><a href ='/view/not_completion.html'>그외 추가될 것...</a></li>
                </ul>
            </div>
            <footer class='container footer1'>
                <p>Copyright(c) 한정 All rights reserved.</p>
                <button class='social-button facebook' onclick='location.href="https://www.facebook.com/profile.php?id=100005573837145"'></button>
                <button class='social-button youtube' onclick='location.href="https://www.youtube.com/channel/UCpt_0D6mJ7ItNQOACufHJig"'></button>
            </footer>
        </div>
        
    </body>
</html>