<!DOCTYPE html>
<html>
    <head>
        <title>jung-persona-base_input-design</title>
        <!--default-->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="/css/img/1024_Icon_1018.ico"> <!--favicon-->
        <style>
            .not_completion{
                margin-top:20px;
                text-align: center;
            }
        </style>
    </head>
    <body>
        <div class = 'container'>
            <div class = 'not_completion'>
                <img src = '/css/img/not_completion.jpg' style='height:700px;'/>
                <h2>not completion</h2>
                <a href ="/view/index.html">홈으로가기</a>
            </div>
        </div>
    </body>
</html>